# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# VSCode files
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# GitHub Copilot files
*.db
*.db-shm
*.db-wal
CopilotIndices/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg